[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-join-api = {git = "https://github.com/nkgilley/python-join-api.git"}

[dev-packages]

[requires]
python_version = "3.10"
